body {
  background-color: lightgray;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  background-color: black;
  color: white;
  height: 2.5vh;
  font-size: 2vh;
}
a {
  margin-right: 10px;
}
img {
  border-radius: 40%;
  height: 300px;
  width: 400px;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  height: 100vh;
}
p {
  border: 2.5px solid black;
  padding: 25px;
}
